version: '3.8'

services:
  gemma-service:
    # Docker Hub ID를 본인 것으로 수정하세요!
    image: williamyang1992/gemma-3-service:latest
    container_name: gemma-3-server
    restart: always
    runtime: nvidia
    environment:
      - HUGGING_FACE_HUB_TOKEN=${HF_TOKEN}
      - HF_HOME=/root/.cache/huggingface
      # 드라이버 버전 우회
      # - NVIDIA_DISABLE_REQUIRE=1
    volumes:
      # 호스트의 캐시 경로를 꼭 확인하고 맞춰주세요
      - /mnt/data2/hf_cache:/root/.cache/huggingface
    ports:
      - "8000:8000"
    ipc: host
    
    # Dockerfile에 CMD(기본값)가 있으므로 여기선 command 생략 가능.
    # 설정을 바꾸고 싶을 때만 아래 주석을 풀고 사용하세요.
    # command: google/gemma-3-12b-it --dtype half ...